@import "variables";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/work";
@import "blocks/agent";
@import "blocks/price";
@import "blocks/consultation";
@import "blocks/menegment";
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  margin: 0 auto;
  width: 1200px;
  padding: 0 10px;
}
