.agent{
  padding: 58px 0 75px 0;
  background: url("../../img/background_agent.jpg") center (center/cover) no-repeat;
  .agent_img{
    display: block;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 100%;
    padding: 20px;
  }
  .title_agent{
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
  }
  .descr_agent{
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    line-height: 27px;
  }
}
