.btn{
  display: block;
  width: 180px;
  height: 45px;
  background-color: $main-color;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  &_small{
    .btn-top{
      margin-right: 18px;
    }
    width: 160px;
    height: 45px;
    background-color: $main-color;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
  }
}
.btn-position{
  margin: 39px auto 0 auto;
}
.btn_price{
  margin: 25px auto 0 auto;
}
.btn-consultation{
  margin: 22px auto 0 auto;
}

