header{
  padding: 23px 0 82px 0;
  background: url('../../img/plane.jpg') center (center/cover) no-repeat;
  .logo{
    width: 95px;
    height: 99px;
    margin-right: 55px;
  }
  nav{
    display: flex;
    align-items: center;
  }
  .nav_link{
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #ffffff;
    margin-right: 29px;
    &:nth-child(7){
      margin-right: 0;
    }
    &_active{
      color: $main-color;
    }
  }
  h1{
    margin-top: 26px;
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
  }
  .subtitle{
    margin-top: 9px;
    font-size: 42px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .subtitle_small{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }
  .question{
    margin: 0 19px 0 50px;
    width: 161px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .nav_link{
      margin-right: 20px;
    }
    .nav_link-tel{
      font-size: 15px;
      font-weight: 300;
      text-align: left;
      color: #ffffff;
      margin: 5px 19px 0 0;
    }
  }
  .hr_line{
    display: block;
    margin: 0 auto;
  }
  .purpose_wrapper{
    margin: 27px auto 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .purpose-item{
      width: 262px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      .item_descr{
        margin-top: 19px;
      }
      .item_img{
        height: 63px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

