.work{
  padding: 51px 0 57px 0;
  .title{
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }
  .subtitle{
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
  }
  .work_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    .wrapper_item{
      width: 359px;
      text-align: center;
      .title_work{
        color: #ec644b;
        font-size: 18px;
        font-weight: 900;
      }
      .descr_work{
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        text-align: justify;
      }
    }
  }
}
hr{
  width: 148px;
  height: 1px;
  background-color: #ec644b;
  border: 0;
}
